/* fonts */
@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Hind+Siliguri&display=swap');
/* texo normal font-family: 'Hind Siliguri', sans-serif; */
/* titulos relevantes  */
/* font-family: 'Fredoka One', cursive; */
*{
  margin: 0 !important;
}
body{
  margin: 0;
  font-family: 'Hind Siliguri', sans-serif !important;
}
a{
  text-decoration: none;
  color: white;
}
h1, h2,h3{
  font-size: 20px !important;
  font-family: 'Fredoka One', cursive;
  color: white !important;
  text-align: center!important;
}
h4{
  font-size: 20px !important;
  font-weight: bold;
}
header h3{
  font-weight: lighter;
  font-size: 15px !important ;

}
/* header */




/* soluciones */

/* realizado por el equipo */
main{
  margin: 0px 15px !important;
}
.project_title h1 {

  font-size: 25px !important;
}
.project_users{
  height: 670px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2,1fr);

}
.angel_project{
  grid-row: 1/ span 2;
}
/* .one{  border:1px solid red;} */
/* users */
.users{
  margin: 0 30px;
  height: 500px;
}
.users h3{
  text-align: center!important;
  font-size: 20px!important;
  margin: 20px 0px !important;
}
.userss{
  height: 450px;
  display: grid;
  grid-template-columns: repeat(5,1fr);

}
.person{
  padding-left: 10px;
}
.img_container img{
  margin-top: 10px !important;
  margin-left: 35px !important;
  width: 150px;
  height: 150px;
}
.person h1 {
  text-align: center;
}
.person h4{
  margin-top: 10px !important;
}
.conctat{
  height: 200px;
}
/* footer */
